<div class="ui padded basic segment">
  <h1>Dashboard <%= link_to "Landing Page", root_path, class: "ui button" %></h1>
  <div id="main"></div>

  <script type="text/template" id="main-layout">
    <div id="search"></div>
    <div id="table"></div>
  </script>

  <script type="text/template" id="applicant-groups-table">
    <table class="ui celled table" id="applicant-grouped-table">
      <thead>
        <tr>
          <th>Week Start</th>
          <th>Week End</th>
          <% $APPLICANT_STATES.each do |el| %>
            <th><%= el.split("_").map {|el| el.capitalize }.join(" ")%></th>
          <%end%>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <script type="text/template" id="applicant-group">
    <td>{{= week_start }}</td>
    <td>{{= week_end }}</td>
    <% $APPLICANT_STATES.each do |el| %>
      <td>{{= <%= el %> }}</td>
    <%end%>
  </script>

  <script type="text/template" id="search-template">
    <div class="ui calendar" id="start_date">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="Date/Time">
      </div>
    </div>
    <div class="ui calendar" id="end_date">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="Date/Time">
      </div>
    </div>
    <button id="search" class="ui primary button">Search</button>
  </script>

  <script type="text/template" id="applicants-table">
    <button id="back" class="ui primary button">Back</button>
    <div class="ui divider hidden"></div>
    <table class="ui celled table" id="applicants-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Cell</th>
          <th>Zipcode</th>
          <th>Consent</th>
          <th>Created</th>
          <th>LinkedIn</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <script type="text/template" id="applicant-template">
    <td>{{= first_name }}</td>
    <td>{{= last_name }}</td>
    <td>{{= email }}</td>
    <td>{{= aasm_state }}</td>
    <td>{{= cell }}</td>
    <td>{{= zipcode }}</td>
    {{ if(background_consent){ }}
      <td><i class="ui check green icon large"></i></td>
    {{ }else{ }}
      <td><i class="ui remove red icon large"></i></td>
    {{ } }}
    <td>{{= moment(created_at).format("YYYY-MM-DD") }}</td>
    {{ if(typeof(linkedin_account) !== "undefined"){ }}
      <td><h4 class="linkedin">View LinkedIn <i class="ui linkedin icon"></i></a></td>
    {{ }else{ }}
      <td></td>
    {{ } }}
  </script>

  <script type="text/template" id="linkedin-modal-template">
    <div class="ui modal linkedin-modal">
      <i class="close icon"></i>
      <div class="header">
        Linkedin Account
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img src={{= picture_url }}>
        </div>
        <div class="description">
          <p><b>Name:</b> {{= first_name }} {{= last_name }}</p>
          <p><b>Connections:</b> {{= num_connections }}</p>
          <p><b>Industry:</b> {{= industry }}</p>
          <p><b>Location:</b> {{= location }}</p>
          <p><b>Profile:</b> <a href="{{= public_profile_url }}" target="blank">Click here</a></p>
        </div>
      </div>
    </div>
  </script>
</div>
