<div class="ui column very padded segment basic">
  <div class="ui very padded center aligned segment basic">
    <i class="ui smile huge green icon"></i>
    <h2>We've successfully updated your application</h2>
    <%= link_to "Back", applicant_edit_path, class: "ui primary button" %>
    <a href="https://instacart.com">Back to Instacart</a>
  </div>
</div>
